<template>
  <div>
    <h1>Cart</h1>
    <product-card v-for="item in product" :key="item.id" :product="item" >
      <button  @cartProduct="cartProduct" @click="cartProduct.splice(item, 1)" class="deleteProduct">Remove</button>
      <div>
        <p @cartProduct="cartProduct" >Выбраное количество: {{ item.wantToBuy }}</p>
        <button @cartProduct="cartProduct" class="addMore" @click=" item.wantToBuy +=1 ">Добавить</button>
      </div>
    </product-card>

  </div>
</template>

<script>
import ProductCard from './ProductCard.vue'
export default {
  components: {
    ProductCard,
  },
  props: {
    product: {
      required: true,
      type: Array,
    },
    cartProduct:{
      type:Array
    }       
  }
}
</script>

<style></style>
