<template>
  <div class="wrapper">
    <h2>{{ product.name }}</h2>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">{{ product.price }}$</p>
    <slot></slot>

  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
    cartProduct:{
      type:Array
    }
  }
}
</script>

