<template>
  <div class="wrapper">
    <div v-if="isCart">
      <h1>Products list</h1>
      <product-card
        v-for="product in products"
        :key="product.id"
        :product="product" >
        <button class="addBtn" @click="addToCart(product)">Add</button>
      </product-card>
    </div>
    <buscket-component
      v-if="!isCart"
      :product="cartProduct"
      :cartProduct = 'cartProduct'
    ></buscket-component>
    <button class="showich" @click="btnNameChanger">{{ btnName }}</button>

  </div>
</template>

<script>
import ProductCard from './components/ProductCard.vue'
import BuscketComponent from './components/BuscketComponent.vue'

export default {
  props:{
    cardProduct:{
      type:Array
    }
  },
  components: {
    ProductCard,
    BuscketComponent,
  },

  data() {
    return {
      btnName:'Магазин',
      isCart: false,
      products: [
        {
          id: 0,
          name: 'Apple IPhone 11',
          description:
            'Размер экрана, дюйм: 6.1 / Разрешение экрана: 1792 х 828 / Тип матрицы: IPS; Liquid Retina HD / Объем встроенной памяти: 128 Гб',
          price: 374900,
          wantToBuy:1
        },
        {
          id: 1,
          name: 'OPPO Reno5 Lite',
          description:
            'Размер экрана, дюйм: 6.43 / Разрешение экрана: 2400 x 1080 [20:9] / Тип матрицы: AMOLED / Объем оперативной памяти: 8 Гб / Объем встроенной памяти: 128 Гб',
          price: 144900,
          wantToBuy:1
        },
        {
          id: 2,
          name: 'Xiaomi Redmi Note 10S',
          description:
            'Размер экрана, дюйм: 6.43 / Разрешение экрана: 2400 x 1080 [20:9] / Тип матрицы: AMOLED / Объем оперативной памяти: 6 Гб / Объем встроенной памяти: 64 Гб ',
          price: 109990,
          wantToBuy:1
        },
        {
          id: 3,
          name: 'Samsung Galaxy A52',
          description:
            'Размер экрана, дюйм: 6.5 / Разрешение экрана: 2400 x 1080 [20:9] / Тип матрицы: Super AMOLED / Объем оперативной памяти: 4 Гб / Объем встроенной памяти: 128 Гб',
          price: 174900,
          wantToBuy:1
        },
      ],
      cartProduct: [],
    }
  },
  methods: {
    btnNameChanger(){
      this.isCart = !this.isCart
      if(this.isCart){
        this.btnName = 'Корзина'
      }
      else{
        this.btnName = 'Магазин'
      }
    },
    checkArr(arr, id) {
      for (let i = 0; i < arr.length; i++) {
        if (arr[i].id === id) {
          alert('This product is already taken')
          return false
        }
      }
      return true
    },
    addToCart(product) {
      if (this.checkArr(this.cartProduct, product.id)) {
        this.cartProduct.push(product)
      }
    }
  },
}
</script>

<style >

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto Slab';
}

body{
  background-color:bisque;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

div{
  padding-top: 20px;
}

p{
  margin-top: 10px;
}

h1{
  font-size: 35px;
}

.addBtn{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border:none;  
  font-size: 15px;
}

.deleteProduct{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border:none;
  font-size: 15px;
}

.addMore{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border:none;  
  font-size: 15px;
}

.showich{
  cursor: pointer;
  width: 160px;
  height: 30px;
  margin-top: 20px;
  border-radius: 4px;
  border:none;
  font-size: 15px;
}


</style>
